body{
    background-color: #3C3C3C;
}

.dad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 585px;
    width: 375px;
    background-color: #1F1F1F;
}

.top{
    margin: 5%;
    margin-bottom: 40px;
    height: 20px;
    color: white;
}

.buttonNone{
    width: 25px;
    height: 25px;
    margin: 2px;
    color: white;
    background-color: #1F1F1F;
    border: #1F1F1F;
}

.buttonNone:hover{
    background-color: #5D5A58;
}

.viewer{
    height: 86px;
    margin: 5%;
    margin-bottom: 25px;
}

h2{
    font-family: console;
    color: white;
    text-align: right;        
}

.buttons{
    margin: 3%;
}

.numbers{
    background-color: #060606;
    border: #060606;   
}

.numbers:hover{
    background-color: #1F1F1F;
}

.operators{
    background-color: #131313;
    border: #131313;
}

.operators:hover{
    background-color: #5D5A58;
}

button{
    width: 80px;
    height: 50px;
    margin: 2px;
    color: white;
    font-size: 20px;
    font-family: console;
}